<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Change Password</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<table width="200" border="1">
<tr>
    <th scope="row">current password</th>

    <td>
      <label for="old_password"></label>
      <input type="password" name="admin_name" id="old_password" required/>
    </td>
  </tr>
{#  <tr>#}
{#    <th scope="row"></th>#}
{#      <td>#}
{#    <label for="admin_name"></label>#}
{#      <input type="password" name="admin_name" id="admin_name" required/>#}
{#    </td>#}
{#  </tr>#}
  <tr>
    <th scope="row">new password</th>
    
    <td>
      <label for="old_password"></label>
      <input type="password" name="old_password" id="old_password" required/>
    </td>
  </tr>
  <tr>
    <th scope="row">Confirm  Password</th>
    <td>
      <label for="admin_password"></label>
      <input type="password" name="admin_password" id="admin_password" required/>
    </td>
  </tr>

  <tr>
    <th colspan="2" scope="row">
      <input type="submit" name="change_pass" id="change_pass" value="change" required/>
    </th>
  </tr>
</table>
</form>
</body>
</html>
