<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Comment</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="col">Serial No</th>
    <th scope="col">Comment</th>
    <th scope="col">Movie name</th>
    <th scope="col">Date</th>
    <th scope="col">Type</th>
   {#<th scope="col">Reply date</th>#}
      {#<th scope="col">Reply</th>#}
      <th scope="col">Action</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ loop.index}}</td>
    <td>&nbsp;{{ i.comment }}</td>
    <td> {{ i.movie_name }}</td>
    <td> {{ i.date }}</td>
    <td> {{ i.type }}</td>
      {# <td> {{ i.reply_date }}</td>
  {#    <td> <a href="/Reply">Reply</a></td>#}
    <td><a href="/comdelete/{{ i.comment_id}}">Delete</a></td>
  </tr>
    {% endfor %}
</table>
</body>
</html>
