<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin home</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="./static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="./static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="./static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="./static/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="./static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="./static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="./static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="./static/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
<h1 style="font-family: 'Ubuntu', sans-serif;">Admin</h1>
    </header>
    <div class="tab">
    <!--<table width="200" border="">-->
  <!--<tr>-->
    <!--<th scope="row">Admin</th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row"><a href="/Approve_movies">Approve Movies</a> </th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row"><a href="/bugs">Bugs Reports</a></th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row"><a href="/comment">Comment Reports</a></th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row"><a href="/verification">Creator Verification</a></th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row"><a href="/feedback">Feedback</a></th>-->
  <!--</tr>-->
  <!--&lt;!&ndash; <tr>-->
    <!--<th scope="row"><a href="/report">Film Report</a></th>-->
  <!--</tr> &ndash;&gt;-->
<!--{#  <tr>#}-->
<!--{#    <th scope="row"><a href="/promo">Movie Promotions</a></th>#}-->
<!--{#  </tr>#}-->
  <!--<tr>-->
    <!--<th scope="row"><a href="/promorequest">Promo requests</a></th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row"><a href="/view">view users</a></th>-->
  <!--</tr>-->
    <!--<tr>-->
    <!--<th scope="row"><a href="/changepass">Change Password</a></th>-->
  <!--</tr>-->
<!--</table>-->
<div class="bttn">
  <a class="linke" href="/Approve_movies">  <button type="button" class="btn btn-outline-warning btn-lg btn-block">Approve movies</button>
  </a><br>
  <a class="linke" href="/bugs">  <button type="button" class="btn btn-outline-warning btn-lg btn-block">Bugs</button>
  </a><br>
  <a class="linke" href="/comment">  <button type="button" class="btn btn-outline-warning btn-lg btn-block">Comment</button>
  </a><br>

  <a class="linke" href="/verification">  <button type="button" class="btn btn-outline-warning btn-lg btn-block">Verification</button>
  </a><br>
  <a class="linke" href="/feedback">  <button type="button" class="btn btn-outline-warning btn-lg btn-block">Feedback</button>
  </a><br>
  <a class="linke" href="/report">  <button type="button" class="btn btn-outline-warning btn-lg btn-block">Report</button>
  </a><br>
  <a class="linke" href="/promorequest">  <button type="button" class="btn btn-outline-warning btn-lg btn-block">Promo requests</button>
  </a><br>
  <a class="linke" href="/view">  <button type="button" class="btn btn-outline-warning btn-lg btn-block">View Users</button>
  </a><br>
  <a class="linke" href="/changepass">  <button type="button" class="btn btn-outline-info btn-lg btn-block">Changepass</button>
  </a><br>
      <a class="linke" href="/logout">  <button type="button" class="btn btn-outline-danger btn-lg btn-block">Logout</button>
  </a><br>


</div>
        </div>
    <!-- Header End -->

    <!-- Hero Section Begin -->

<!-- Search model end -->

<!-- Js Plugins -->
<script src="./static/js/jquery-3.3.1.min.js"></script>
<script src="./static/js/bootstrap.min.js"></script>
<script src="./static/js/player.js"></script>
<script src="./static/js/jquery.nice-select.min.js"></script>
<script src="./static/js/mixitup.min.js"></script>
<script src="./static/js/jquery.slicknav.js"></script>
<script src="./static/js/owl.carousel.min.js"></script>
<script src="./static/js/main.js"></script>

<style> @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); </style>
</body>

</html>