<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Movie Promo</title>
</head>

<body>
<form id="form2" name="form2" method="post" action="">
<table width="200" border="1">
  <tr>
    <th scope="row">Name</th>
    <td>
      <label for="promo_name"></label>
      <input type="text" name="promo_name" id="promo_name" />
    </td>
  </tr>
  <tr>
    <th scope="row">Description</th>
    <td>
      <label for="promo_desc"></label>
      <textarea name="promo_desc" id="promo_desc" cols="45" rows="5"></textarea>
    </td>
  </tr>
  <tr>
    <th scope="row">Poster</th>
    <td>
      <label for="promo_poster"></label>
      <input type="file" name="promo_poster" id="promo_poster" />
    </td>
  </tr>
  <tr>
    <th scope="row">Banner</th>
    <td>
      <label for="promo_banner"></label>
      <input type="file" name="promo_banner" id="promo_banner" />
    </td>
  </tr>
  <tr>
    <th scope="row">Video</th>
    <td>
      <label for="promo_video"></label>
      <input type="file" name="promo_video" id="promo_video" />
    </td>
  </tr>
  <tr>
    <th colspan="2" scope="row">
      <input type="submit" name="promo_submit" id="promo_submit" value="Submit" />
    </th>
  </tr>
</table>
</form>
</body>
</html>
