<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reply</title>
</head>
<body>
<body>
<form action="" method="post"><table width="200" border="1">
  <tr scope="REPLY">
    <th scope="col">REPLY</th>
    <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
  </tr>
  <tr>
    <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="send" /></th>
    </tr>
</table>

 </form>

</body>
</html>