<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reply</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="./static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="./static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="./static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="./static/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="./static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="./static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="./static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="./static/css/style.css" type="text/css">
</head>

<body style="background-color: #0b0c2a">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header" style="display: flex;justify-content: center;background-color: #070720;height: 70px;align-items: center;">
      <h1 style="font-family: 'Ubuntu', sans-serif;;; ;     ">Reply</h1>
    </header>
    <!-- Header End -->
    <div class="tab" style="display: flex;justify-content: center;margin-top: 20px">

        <form action="" method="post"><table width="200" border="1">
  <tr scope="REPLY">
    <th scope="col">REPLY</th>
    <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5" required></textarea></td>
  </tr>
  <tr>
    <th colspan="2" scope="row"><button style="width: 100%" type="submit" class="btn btn-info">Reply</button></th>
    </tr>
</table>

 </form>
        </div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
   table, td,th,tr{
        color: white;

    }
    *{
        margin: 0;
    }
    h1{
        color: white;
    }
</style>


<!-- Js Plugins -->
<script src="./static/js/jquery-3.3.1.min.js"></script>
<script src="./static/js/bootstrap.min.js"></script>
<script src="./static/js/player.js"></script>
<script src="./static/js/jquery.nice-select.min.js"></script>
<script src="./static/js/mixitup.min.js"></script>
<script src="./static/js/jquery.slicknav.js"></script>
<script src="./static/js/owl.carousel.min.js"></script>
<script src="./static/js/main.js"></script>


</body>

</html>